---
import { site } from '../data/site';
---

<nav class="nav">
  <div class="wrap nav-inner">
    <a class="brand" href="/">{site.name.toLowerCase().replace(/\s+/g, '')}</a>
    <div class="links">
      <a href="/#about">About</a>
      <a href="/#experience">Experience</a>
      <a href="/#open-source">Open Source</a>
      <a href="/#publications">Publications</a>
    </div>
  </div>
</nav>
